// Tutaj zamieszczamy reguły dotyczące tagu <body>
body#top
  background-image: url('/public/bg.jpg')
  background-size: contain
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  background-color: #15152d
  // content i footer mają position: relative, top: 2em
  padding-bottom: 2em

  // Zmiana rozmiaru tła dla małych ekranów, aby było widać postaci
  @media screen and (max-width: 800px)
    background-size: cover
