.ipsDialog > div
  background: #17172a
  color: $color-white

  .ipsDialog_title
    color: inherit

  .ipsAreaBackground
    background: inherit

  .ipsType_sectionHead, .ipsType_richText
    color: inherit

  .ipsSelectTree, .ipsSelectTree *
    color: $color-black !important
