// W tym pliku znajdują się wszystkie reguły dotyczące tekstu

.ipsBox
  &, & .ipsType_richText
    color: $color-black

.ipsBox_transparent
  &, & .ipsType_richText
    color: #ccc

  .ipsComposeArea_editor .ipsType_richText
    color: $color-black
  .ipsCode
    color: $color-black

.ipsBox_transparent .ipsType_sectionHead
  color: $color-white

.ipsType_pageTitle
  color: $color-white

  // Podświetlanie edytowalnego tytułu
  [data-role="editableTitle"]:hover
    background: transparent
.ipsDialog .ipsType_pageTitle
  color: inherit
.text_white
  color: $color-white

#ipsLayout_footer
  a, p
    color: $color-white

a
  &:hover
    cursor: pointer
